/* src/pages/Calendar.css */
.react-calendar {
  width: 100%;
  background: white;
  border: none;
  font-family: inherit;
  line-height: 1.125em;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
  padding: 0.75em 0.5em;
  background: none;
  border-radius: 6px;
  transition: background-color 0.2s;
}
.react-calendar button:enabled:hover {
  background-color: #e6e6e6;
  cursor: pointer;
}
.react-calendar__tile--active {
  background: #4f46e5;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #4338ca;
}
.react-calendar__tile--now {
  background: #e0e7ff;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #c7d2fe;
}